.map-page-holder {
  height: 100vh;
  width: 100vw; }

.map-holder {
  z-index: 99;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative; }

#map_canvas {
  z-index: 99;
  position: relative;
  width: 100%;
  height: 100%; }

.preview-box {
  display: none; }

.map-coords-display {
  position: absolute;
  z-index: 100;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 50%; }
.map-coords-display-holder {
  width: 85%;
  float: left;
  background-color: rgba(245, 245, 245, 0.89);
  border-radius: 3px;
  padding: 10px 5px 2px 5px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
.map-coords-display-holder p {
  color: #18A6B7;
  letter-spacing: 5px;
  font-size: 1.5em;
  font-family: lucidia, serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.map-coords-display-holder p:hover {
  cursor: pointer;
  color: white; }
.map-coords-display-holder p span {
  padding-left: 10px;
  font-family: lato, sans-serif; }
.map-coords-display-save {
  float: right;
  background-color: rgba(245, 245, 245, 0.89);
  border-radius: 3px;
  padding: 10px 5px 2px 5px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
       not supported by any browser */ }
.map-coords-display-save p {
  color: #18A6B7;
  letter-spacing: 5px;
  font-size: 1.5em;
  font-family: lucidia, serif; }
.map-coords-display-save p span {
  padding-left: 10px;
  font-family: lato, sans-serif; }
.map-coords-display-save:hover {
  cursor: pointer; }

.controls {
  position: absolute;
  z-index: 100;
  top: 2%;
  left: 1%;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px; }

#pac-input:focus {
  border-color: #4d90fe; }

.pac-container {
  font-family: Roboto; }

.preview_seconds_double {
  transform: translate(16px, 125px); }

.preview_seconds_single {
  transform: translate(25px, 125px); }

.preview_minutes_single {
  transform: translate(82px, 93px); }

.preview_minutes_double_triple {
  transform: translate(81px, 93px); }

.preview_minutes_single_triple {
  transform: translate(88px, 93px); }

.preview_minutes_double {
  transform: translate(74px, 93px); }

.preview_hours_single {
  transform: translate(35px, 93px); }

.preview_hours_double {
  transform: translate(28px, 93px); }

.preview_hours_triple {
  transform: translate(22px, 93px); }

.preview_line_triple {
  transform: translate(14px, 10px); }

.preview_line_single_triple {
  transform: translate(9px, 10px); }

.preview_line_single_min_triple {
  transform: translate(9px, 10px); }

.preview_line_min_triple {
  transform: translate(18px, 10px); }

.preview_line_double {
  transform: translate(4px, 10px); }

.preview_line_single {
  transform: translate(0px, 10px); }

.preview_line_min_single {
  transform: translate(6px, 10px); }

.preview_line_min_double {
  transform: translate(11px, 10px); }

.preview_circle_double {
  transform: translate(4px, 10px); }

.preview_circle_triple {
  transform: translate(16px, 10px); }

.preview_circle_single {
  transform: translate(-2px, 10px); }

.preview_direction_south {
  transform: translate(50px, 57px); }

.preview_direction_north {
  transform: translate(47px, 57px); }

.preview_direction_east {
  transform: translate(50px, 57px); }

.preview_direction_west {
  transform: translate(40px, 57px); }

/* ------------------ MEDIA QUERIES ----------------*/
@media (max-width: 1400px) {
  .map-coords-display {
    width: 70%; }
  .map-coords-display-holder p {
    font-size: 1.2em; }
  .map-coords-display-save p {
    font-size: 1.2em; } }
@media (max-width: 1000px) {
  .map-coords-display {
    width: 75%; }
  .map-coords-display-holder p {
    font-size: 1.1em; }
  .map-coords-display-save p {
    font-size: 1.1em; } }
@media (max-width: 800px) {
  .map-coords-display {
    width: 75%; }
  .map-coords-display-holder p {
    font-size: .5em; }
  .map-coords-display-save p {
    font-size: .5em; } }

/*# sourceMappingURL=application.css.map */
