// color variables

$charcol : #323232;
$white : #ffffff;
$offWhite : #ffffe6;
$lightBlue : #b3d9ff;
$footerGrey : #d9d9d9;

// Pallet Gunmetal
$cashmere : #cbc5c1;
$frenchBlue : #a2aab0;
$whiteWash : #ebeced;
$denim : #4c586f;
$gunMetal : #3e3e3b;
$seafloor : #18A6B7;

// Pink Scheme
$lightPink: #FEDADA;
$darkerPink: #EDB6BB;
$darkerBlue: #1779D2;
$purpleGrey: #C4BFDF;
$lighterBlue: #D5E0F4;

// Other Colors
$translucentWhite : rgba(255,255,255,.96);
$translucentLight :	rgba(245,245,245, .89);
$translucentGrey  :	rgba(225,225,225, .89);

// Main Colors
$tabColor : $gunMetal;
$startButton : $frenchBlue;
$backgroundColor : white;
$divText : $seafloor;
$underLine : $seafloor;
$icon : $seafloor;


